* {
  margin: 0;
  padding: 0;
}
body {
  background-color: rgb(69, 57, 176);
  text-align: center;
}
heading {
  font-size: 50px;
  color: rgb(214, 54, 147);
}
#keyboard-info {
  font-size: 20px;
  color: rgb(195, 127, 127);
  text-align: center;
}
.container {
  height: 70vh;

  justify-content: center;
  align-items: center;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
}
.game {
  height: 60vmin;
  width: 60vmin;
  justify-self: stretch;
  align-items: center;
  gap: 1.5vmin;
}
.box {
  height: 18vmin;
  width: 18vmin;
  border: none;
  border-radius: 1px;
  text-align: center;
  font-size: 10vmin;
  background-color: rgb(199, 117, 24);
  color: rgb(37, 85, 149);
}
.reset {
  padding: 1rem;
  border: none;
  border-radius: 1px;
  background-color: rgb(172, 25, 225);
  text-align: center;
  color: rgb(213, 185, 26);
}

.messageContainer {
  height: 100vmin;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2vmin;
}

#newGame {
  padding: 30px;
  margin: 40px;
  font-size: 80%;
  border: none;
  border-radius: 1px;
  background-color: rgb(2, 2, 2);
  text-align: center;
  color: rgb(213, 204, 216);
}

#message {
  font-size: 30px;
  color: rgb(12, 235, 150);
}

.hide {
  display: none;
}

@media screen and (max-width: 768px) {
  heading {
    font-size: 30px;
  }
  #keyboard-info {
    font-size: 15px;
  }
  .box {
    height: 12vmin;
    width: 12vmin;
    font-size: 7vmin;
  }
}
